

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Scripts/css/login_css.css">
    <link rel="stylesheet" href="~/Scripts/css/Navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript" src="~/Scripts/js/ApplicationScript.js"></script>

    <style>
    </style>
</head>
<body>

    <ul>
        <li><a class="active" href="@Url.Action("HomePageIndex", "HomePage")">Home</a></li>
        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>

    </ul>

    <form>
        <div class="container">
            <h1>University Enrollment Form</h1>

            <hr>
            <div>
                <label for="Subject1"><b>Subject 1:</b></label>
                <select id="subject1Name" name="subect1Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject1">Grade:</label>
                <select id="subject1Grade" name="subect1Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>

            <div>
                <label for="Subject2"><b>Subject 2:</b></label>
                <select id="subject2Name" name="subect2Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject2">Grade:</label>
                <select id="subject2Grade" name="subect2Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>

            <div>
                <label for="Subject3"><b>Subject 3:</b></label>
                <select id="subject3Name" name="subect3Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject3">Grade:</label>
                <select id="subject3Grade" name="subect3Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>


            <hr>


            <button onclick="registerResult()" type="submit" class="registerbtn">Submit </button>
        </div>
    </form>
</body>

</html>