

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="~/Scripts/css/Admin.css">
    <link rel="stylesheet" href="~/Scripts/css/Navbar.css">
    <script type="text/javascript" src="~/Scripts/js/ApplicationScript.js"></script>

    <style>
    </style>
</head>
<body>

    <ul>
        <li><a href="/HomePage/HomePageIndex">Home</a></li>
        <li><a class="active" href="/Application/ApplicationIndex">Enrollment Form</a></li>
        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>

    </ul>

    <div class="container">
        <h1>Enrollment Form</h1>
        
        <form>
            <div class="row">
                <div class="column">
                    <label for="subject1">Subject 1:</label>
                    <select id="subject1Name" name="subect1Name">
                        <option value=" ">Please select a Subject</option>
                        <option value="1">Maths</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">Spanish</option>
                    </select>
                </div>
                <div class="column">
                    <label for="subject1">Grade:</label>
                    <select id="subject1Grade" name="subect1Grade">
                        <option value=" ">Please select your Grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="subject2">Subject 2:</label>
                    <select id="subject2Name" name="subect2Name">
                        <option value=" ">Please select a Subject</option>
                        <option value="1">Maths</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">Spanish</option>
                    </select>
                </div>
                <div class="column">
                    <label for="subject2">Grade:</label>
                    <select id="subject2Grade" name="subect2Grade">
                        <option value=" ">Please select your Grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="subject3">Subject 3:</label>
                    <select id="subject3Name" name="subect3Name">
                        <option value=" ">Please select a Subject</option>
                        <option value="1">Maths</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">Spanish</option>

                    </select>
                </div>
                <div class="column">
                    <label for="subject3">Grade:</label>
                    <select id="subject3Grade" name="subect3Grade">
                        <option value=" ">Please select your Grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <button onclick="registerResult()">Submit</button>
        </form>
    </div>
    <!--
    <form>
        <div class="container">


            <hr>
            <h1 id="formTitle">Enrollment Form</h1>
            <div>
                <label id="subject_Title">Subject 1:</label>
                <select id="subject1Name" name="subect1Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject1">Grade:</label>
                <select id="subject1Grade" name="subect1Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>

            <div>
                <label for="Subject2"><b>Subject 2:</b></label>
                <select id="subject2Name" name="subect2Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject2">Grade:</label>
                <select id="subject2Grade" name="subect2Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>

            <div>
                <label for="Subject3"><b>Subject 3:</b></label>
                <select id="subject3Name" name="subect3Name">
                    <option value=" ">Please select a Subject</option>
                    <option value="1">Maths</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Spanish</option>
                </select>

                <label for="subject3">Grade:</label>
                <select id="subject3Grade" name="subect3Grade">
                    <option value=" ">Please select your Grade</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>


            <hr>


            <button onclick="registerResult()" type="submit" class="registerbtn">Submit </button>
        </div>
    </form>

    -->
</body>

</html>