
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="~/Scripts/css/Admin.css">
    <link rel="stylesheet" href="~/Scripts/css/HomePage.css">
    <link rel="stylesheet" href="~/Scripts/css/Navbar.css">
    <!--JS-->
    <script type="text/javascript" src="~/Scripts/js/RegisterScript.js"></script>

</head>
<body>
    <h1>ADMIN PAGE</h1>
    <ul>
        <li><a class="active" href="/HomePage/HomePageIndex">Home</a></li>
        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
        <li><a href="/Admin/AdminIndex">Admin Section</a></li>
    </ul>


    <div class="container">
        <table id="studentInfoTable">
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Total Mark</th>
                <th>Status</th>
            </tr>
        </table>
    </div>


</body>
</html>