
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="~/Scripts/css/Admin.css">
    <link rel="stylesheet" href="~/Scripts/css/HomePage.css">
    <link rel="stylesheet" href="~/Scripts/css/Navbar.css">
    <!--JS-->
    <script type="text/javascript" src="~/Scripts/js/ResultScript.js"></script>
</head>
<body>
    <h1 id="AdminTitle">ADMIN PAGE</h1>
    <ul>
        <li><a href="/HomePage/HomePageIndex">Home</a></li>
        <li><a href="/Login/Logout">Logout</a></li>
        <li><a class="active" href="/Admin/AdminIndex">Admin Section</a></li>
    </ul>

    <button id="dowloadCSVBtn">Download CSV</button>
    <div class="SummaryTable" style="overflow-x:auto;">
        <table id="studentInfoTable">
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Total Mark</th>
                <th>Status</th>
            </tr>
        </table>
    </div>

</body>
</html>