@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript" src="~/Scripts/js/RegisterScript.js"></script>
    <script type="text/javascript" src="~/Scripts/js/validationScript.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="~/Scripts/css/Admin.css">
    <link rel="stylesheet" href="~/Scripts/css/Navbar.css">
</head>
<body>
    <div>
        <ul>
            <li><a href="/HomePage/HomePageIndex">Home</a></li>
            <li><a class="active" href="/Registration/RegistrationIndex">Register</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Registration Form</h1>
        <form>
            <div class="row">
                <div class="column">
                    <label for="FirstName">First Name</label>
                    <input type="text" id="firstname" name="firstname" onchange="NameValidation(this);"  placeholder="Your first name..">
                </div>
                <div class="column">
                    <label for="LasName">Last Name</label>
                    <input type="text" id="lastname" name="lastname" onchange="NameValidation(this);" placeholder="Your last name..">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="nid">National ID</label>
                    <input type="text" placeholder="Please enter NID" name="nationalId" onchange="NationalIdValidation(this);" id="nationalId" required>
                </div>
                <div class="column">
                    <label for="address">Address</label>
                    <input type="text" placeholder="Enter Address" onchange="AddressValidation(this);" name="address" id="address" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="phone">Phone Number</label>
                    <input type="text" placeholder="Phone Number" name="phoneNumber" id="phoneNumber" required>
                </div>
                <div class="column">
                    <label for="guardian">Guardian Name</label>
                    <input type="text" placeholder="Enter Guardian Name" name="guardianName" id="guardianName" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dateOfBirth" id="dateOfBirth" required>
                </div>
                <div class="column">
                    <label for="emailAddress">Email</label>
                    <input type="text" placeholder="Enter Email" name="emailAddress" onchange="EmailValidation(this);" id="emailAddress" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="psw">Password</label>
                    <input type="password" placeholder="Enter Password" name="psw" id="password" required>
                </div>
                <div class="column">
                    <label for="psw"> Confirm Password</label>
                    <input type="password" placeholder="Enter Password" name="psw" id="password2" required>
                </div>
            </div>
            <button onclick="register()" type="submit">Register</button>
            <p id="register_link">Already have an account? <a href="/Login/LoginIndex">Login</a>.</p>
        </form>
    </div>
</body>
</html>

